.signature-container {
  height: 20%;
}


.signature-pad {
  width:400px;
  height:200px;
  background-color: white;
}

.pdfContainer {
  overflow: auto;
}


.dimensions {
  width: 80%;
  height: 800px
}

